* {
    overflow: hidden;
}

#wrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

#wrapper #header {
    position: fixed;
    z-index: 10;
}

#wrapper #header .close-btn {
    position: static;
    width: 44px;
    height: 44px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Call */
#call {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.profile-card {
    border-radius: 24px;
    width: 400px;
    padding: 24px;
    position: relative;
    text-align: center;
}

.profile-content {
    margin-top: 32px;
}

.profile-photo img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #00347d14;
    margin: 0 auto 16px auto;
}

.profile-info .name-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    margin-bottom: 1rem;
}

.online-dot {
    width: 0.25rem;
    height: 0.25rem;
    background-color: #2ecc71;
    border-radius: 50%;
}

.verified-icon {
    color: #3498db;
    font-size: 16px;
}

.country-age {
    margin-top: 4px;
    font-size: 14px;
    opacity: 0.8;
    color: #c8c8c8;
}

.rating {
    margin-top: 12px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.star-icon {
    margin-right: 4px;
}

.score {
    font-weight: 700;
    color: white;
    font-size: 0.8125rem;
}

.small-text {
    font-size: 0.625rem;
    opacity: 0.8;
    margin-left: 4px;
    color: #898d99;
}

.video-duration {
    margin-top: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: .5rem .75rem;
    gap: 0.5rem;
    background-color: #1c1e22;
    border-radius: 999px;
    color: #E1E1E1;
    font-weight: 400;
    font-size: .625rem;
}

.duration {
    color: #ff4d4f;
    font-weight: 700;
}

.actions {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    width: calc(100% - 2.5rem);
}

.btn {
    flex: 1;
    padding: 14px 0;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.reject {
    background-color: #ff3366;
    color: white;
    font-size: 0.875rem;
}

.accept {
    background-color: #3366ff;
    color: white;
    font-size: 0.875rem;
}

.btn img {
    width: 18px;
    height: 18px;
    object-fit: contain;
    display: inline-block;
}

.bg_img {
    width: 100vw;
    height: 100vh;
    background: url("../img/call/background.png") center / cover no-repeat;
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
}

.bg_img .filter {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(10);
    background: linear-gradient(180deg, rgba(28, 30, 34, 0.6) 0%, rgba(28, 30, 34, 0.2) 33%, #1c1e22 100%);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    z-index: -1;
}
