#wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}

/* 충전하기 (공통) */
#charge {
  width: 100%;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

/* 충전하기 (베너) */
#charge .banner .ban-box {
  width: 100%;
}

#charge .banner .ban-box img {
  width: 100%;
  object-fit: cover;
}

/* 충전하기 (금액) */
#charge .amount {
  width: 100%;
}

#charge .amount .amo-box {
  padding: 1rem;
  border: 1px solid #00347d14;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
}
#charge .amount .amo-box div span {
  font-size: 12px;
}

#charge .amount .amo-box div span.b {
  font-weight: 700;
}

/* info */
#charge .info {
  width: 100%;
}

#charge .info-box {
  padding: 1.5em 1rem;
  border: 1px solid #00347d14;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
}

#charge .info-box p {
  font-size: 12px;
  color: #7d8a9f;
}
#charge .info-box p:nth-child(2) {
  margin-left: 5px;
}

#charge .info-box p span {
  color: #fa1155;
  font-weight: 700;
}
