#wrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

#chat-list {
    width: 100%;
    box-sizing: border-box;
}

#chat-list ul li {
    width: 100%;
}

#chat-list ul li a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.25rem;
    box-sizing: border-box;
}

#chat-list ul li:nth-child(odd) {
    background: rgba(77, 103, 235, 0.04);
}

#chat-list ul li .chat-box {
    width: 100%;
    display: flex;
    align-items: start;
}

#chat-list ul li .chat-box .profile-img {
    width: 3.5rem;
    height: 3.5rem;
    border: 1px solid #F7F7F7;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 0.75rem;
}

#chat-list ul li .chat-box .profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#chat-list ul li .chat-box .is-online {
    width: 0.25rem;
    height: 0.25rem;
    background: #C8C8C8;
}

#chat-list ul li .chat-box .is-online.on {
    background: #14F698;
}

#chat-list ul li .chat-box span {
    color: #1C1E22;
    font-size: 0.8125rem;
    font-weight: 600;
    line-height: 1.25rem;
}

#chat-list ul li .chat-box .time {
    color: #898D99;
    font-size: 0.6875rem;
    font-weight: 400;
    line-height: 0.75rem;
}

#chat-list ul li .chat-box .text {
    width: 100%;
    height: 2.25rem;
    margin-top: 0.25rem;
    color: #898D99;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.125rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#chat-list ul li .chat-box .count-badge {
    width: 1.25rem;
    height: 1.25rem;
    background: #FA1155;
    border-radius: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#chat-list ul li .chat-box .count-badge span {
    color: white;
    font-size: 0.625rem;
    font-weight: 700;
    line-height: 0.75rem;
    display: block;
    margin-top: 1px;
}