#wrapper {
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    padding-bottom: 5rem
}

#profile {
    padding: 1.75rem 1.25rem 0 1.25rem;
}

#profile .filter-box {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1.25rem;
}

#profile .filter-box .select-box select {
    color: #2E3C52;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1rem;
    padding: 0.5rem 2rem 0.5rem 0.75rem;
    border: 1px solid #F1F1F1;
    border-radius: 1000px;
    background: #fff url('/img/icon/icon-arrow-down-pink.svg') no-repeat right 0.75rem center;
    background-size: 12px;
    appearance: none;
}

.open-select {
    color: #2E3C52;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1rem;
    padding: 0.5rem 2rem 0.5rem 0.75rem;
    border: 1px solid #F1F1F1;
    border-radius: 1000px;
    background: #fff url('/img/icon/icon-arrow-down-pink.svg') no-repeat right 0.75rem center;
    background-size: 12px;
}

#profile ul.profile-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.75rem;
}

#profile ul.profile-list li .profile-box {
    height: 14rem;
    border-radius: 0.75rem;
    overflow: hidden;
}

#profile ul.profile-list li .profile-box .gradient {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background:linear-gradient(180deg, rgba(28, 30, 34, 0) 40%, rgba(28, 30, 34, 1) 100%);
    padding: 0 0 0.75rem 0.75rem;
    display: flex;
    flex-direction: column;
}

#profile ul.profile-list li .profile-box .gradient .pro-content {
    margin-top: auto;
}

#profile ul.profile-list li .profile-box .gradient .pro-content .name-box {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 4px;
}

#profile ul.profile-list li .profile-box .gradient .pro-content .name-box .online {
    width: 4px;
    height: 4px;
    background: #C8C8C8;
    border-radius: 2px;
}

#profile ul.profile-list li .profile-box .gradient .pro-content .name-box .online.active {
    background: #14F698;
}

#profile ul.profile-list li .profile-box .gradient .pro-content .name-box span {
    color: white;
    font-size: 0.8125rem;
    font-weight: 600;
    line-height: 1.25rem;
    letter-spacing: 0;
}

#profile ul.profile-list li .profile-box .gradient .pro-content .info-box {
    display: flex;
    align-items: center;
    gap: 2px;
}

#profile ul.profile-list li .profile-box .gradient .pro-content .info-box .flag {
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: -1.5px;
}

#profile ul.profile-list li .profile-box .gradient .pro-content .info-box .flag img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    display: block;
}
#profile ul.profile-list li .profile-box .gradient .pro-content .info-box span {
    color: white;
    font-size: 9px;
    font-weight: 500;
}

#profile ul.profile-list li .profile-box .gradient .pro-content .info-box span.dot {
    color: #7D8A9F;
    font-weight: 300;
}