#wrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

#profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1.25rem;
    border-bottom: 1px solid rgba(0, 52, 125, 0.08);
    margin-bottom: 1.25rem;
}

#profile .profile-box {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

#profile .profile-box .img-box {
    width: 3rem;
    height: 3rem;
    padding: 0.25rem;
    border: 1px solid #FA1155;
    border-radius: 50%;
    overflow: hidden;
}

#profile .profile-box .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#profile .profile-box .name-box .nick-name {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    margin-bottom: 0.25rem;
}

#profile .profile-box .name-box .nick-name span {
    font-size: 1rem;
    font-weight: 600;
    color: #1C1E22;
    line-height: 1.5rem;
}

#profile .profile-box .name-box .id {
    color: #7D8A9F;
    font-size: 0.6875rem;
    font-weight: 400;
    line-height: 0.75rem;
}

#profile .edit-btn {
    color: #898D99;
    font-size: 0.6875rem;
    font-weight: 600;
    line-height: 0.75rem;
    padding: 0.25rem 0.5rem;
    background: #F1F1F1;
    border-radius: 0.75rem;
}

#action-menu {
    padding: 0 1.25rem;
    margin-bottom: 1.25rem;
}

#action-menu .menu-box {
    width: 100%;
    padding: 1rem 1.25rem;
    background: rgba(255, 255, 255, 0.96);
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.04);
    box-sizing: border-box;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.75rem;
}

#action-menu .menu-box li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
}

#action-menu .menu-box li a img {
    width: 3.5rem;
    height: 3.5rem;
}

#action-menu .menu-box li a span {
    font-size: 0.625rem;
    font-weight: 400;
    line-height: 0.75rem;
    text-align: center;
    color: #1C1E22;
}

#management {
    padding: 0 1.25rem 10.875rem 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#management .mgmt-title {
    margin-bottom: 1rem;
}

#management .mgmt-title span {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
    color: #2E3C52;
}

#management .mgmt-list li {
    padding: 0.75rem 0;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #1C1E22;
    border-bottom: 1px solid #F7F7F7;
}

#management .mgmt-list li a {
    width: 100%;
    padding: 0.75rem 0;
}

#management .mgmt-list li:first-child {
    padding-top: 0;
}

#management .mgmt-list li:last-child {
    padding-bottom: 0;
    border: none;
}