#wrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#wrapper #title {
    padding: 1.25rem 1.25rem 0.5rem 1.25rem;
}

#wrapper #title span {
    color: #7D8A9F;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1rem;
    margin-bottom: 0.5rem;
}

#wrapper #title h2 {
    color: #1C1E22;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 2rem;
}