#wrapper {
    width: 100%;
    height: 100vh;
}

#wrapper .back {
    padding: 1.125rem 0 1.125rem 1rem;
}

#wrapper #container {
    overflow: hidden;
    position: relative;
    height: calc(100vh - 60px);
}

#wrapper .step .header .title {
    padding: 0.5rem 1.25rem 1.875rem 1.25rem;
}

#wrapper .step .header .title h1 {
    color: #1C1E22;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.25rem;
    margin-bottom: 0.5rem;
}

#wrapper .step .header .title p {
    color: #7D8A9F;
    font-size: 0.8125rem;
    font-weight: 300;
    line-height: 1.25rem;
}

#wrapper .step .content .inner {
    padding: 0 1.25rem;
    position: relative;
}

#wrapper .step .content form .form-field {
    margin: 0.625rem 0;
}

#wrapper .step .content form label {
    color: #898D99;
    font-size: 0.6875rem;
    font-weight: 500;
    line-height: 0.75rem;
}

#wrapper .step .content form .form-field .input-box {
    margin: 0.75rem 0;
}

#wrapper .step .content form .form-field .input-box input,
#wrapper .step .content form .form-field .input-box textarea,
#wrapper .step .content form .form-field .input-box select {
    width: 100%;
    padding: 1rem 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 52, 125, 0.08);

    /* ✅ 공통 텍스트 스타일 */
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #1C1E22;

    appearance: none;
    background-size: 12px;
}

#wrapper .step .content form .form-field .input-box input::placeholder,
#wrapper .step .content form .form-field .input-box textarea::placeholder,
#wrapper .step .content form .form-field .input-box select::placeholder {
    color: #898D99;       /* ✅ color만 다름 */

    /* ✅ 입력 텍스트와 동일 폰트 속성 */
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.25rem;
}

#wrapper .step .content form .form-field .input-box textarea {
    height: 3.75rem;
}

#wrapper .step .content form .form-field .input-box select {
    color: #898D99;
    background: #fff url('/img/icon/icon-arrow-down-pink.svg') no-repeat right 0.75rem center;
    background-size: 12px;
}

#wrapper .step .content form .form-field .input-box input:focus,
#wrapper .step .content form .form-field .input-box textarea:focus,
#wrapper .step .content form .form-field .input-box select:focus {
    outline: none;
    border-color: #FA1155;
}

#wrapper .step .content form .form-field .input-box .send-btn {
    color: white;
    background: #7D8A9F;
    border: 1px solid rgba(0, 52, 125, 0.08);
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    font-size: 0.8125rem;
    font-weight: 600;
    line-height: 1.25rem;
    white-space: nowrap;
}

#wrapper .step .content form .form-field p {
    color: #898D99;
    font-size: 0.6875rem;
    font-weight: 400;
    line-height: 0.75rem;
}

.verify-btn {
    width: 100%;
    color: white;
    font-size: 0.8125rem;
    line-height: 0.75rem;
    font-weight: 600;
    background: #2E3C52;
    padding: 1rem 0;
    border-radius: 0.5rem;
}

.next-btn {
    position: fixed;
    left: 0;
    bottom: 1.25rem;
    width: calc(100% - 2.5rem);
    margin: 0 1.25rem;
    color: white;
    font-size: 0.875rem;
    line-height: 0.75rem;
    font-weight: 700;
    background: #FA1155;
    padding: 0.875rem 0;
    border-radius: 0.75rem;
    box-shadow: 0 5px 10px 0 rgba(26, 26, 26, 0.1);
}

/*
애니메이션
*/
.step {
    opacity: 0;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    min-height: 100vh;
    transform: translateY(100%);
    transition: transform .35s ease;
    background: white;
}

.step.active {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}