#wrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

.line {
    border-bottom: 2px solid #ff0050;
    margin-bottom: 32px;
    width: 30%;
}

#videochat {
    width: 100%;
    padding: 1.25rem;
    align-items: center;
    box-sizing: border-box;
}

#videochat .videochat-title {
    margin-bottom: 2rem;
}

#videochat .videochat-title .title {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.4;
}

#videochat .videochat-title .subtitle {
    font-size: 0.8125rem;
    color: #898d99;
    margin-top: 8px;
}

#videochat .input .input-title {
    color: #7d8a9f;
    font-size: 0.6875rem;
    margin-bottom: 0.5rem;
}

#videochat .input .input-box {
    background: #ffffff;
    border: 1px solid #e7e7e7;
    border-radius: 12px;
    font-size: 0.8125rem;
    padding: 1rem 0.75rem;
    color: #7d8a9f;
    line-height: 1.6;
    margin-bottom: 24px;
    font-size: 0.75rem;
}

#videochat .input-box p:first-child {
    margin-bottom: 0.5rem;
}

#videochat .upload .upload-title {
    font-weight: 500;
    font-size: 0.6875rem;
    margin-bottom: 12px;
    display: block;
    color: #c8c8c8;
}
#videochat .upload .upload-box {
    background: #fa115505;
    border: 1px dashed #fa115533;
    border-radius: 12px;
    padding: 32px;
    text-align: center;
    margin-bottom: 24px;
}

#videochat .upload .upload-box img {
    width: 52px;
    height: 52px;
    margin-bottom: 12px;
}
#videochat .upload .upload-box .upload-box-text {
    font-size: 0.625rem;
    color: #646d7b;
}

#videochat .notice-box {
    background: #f5f7fa;
    padding: 15px;
    border-radius: 8px;
    color: #7a7a7a;
    font-size: 13px;
    line-height: 1.5;
    border: 2px solid #00347d14;
}

#videochat .notice-box .notice-text {
    font-size: 12px;
    color: #999;
    line-height: 20px;
}

#videochat .submit-button {
    position: absolute;
    bottom: 1rem;
    width: calc(100% - 2rem);
    background-color: #ff0050;
    color: white;
    font-size: 0.875rem;
    font-weight: 700;
    padding: 1rem 0;
    border-radius: 0.75rem;
    border: none;
    cursor: pointer;
}
