#wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

#wrapper #header {
    position: fixed;
    z-index: 10;
}

#header .call-time span {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: white;
}

#calling-area {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#calling-area .side-area {
    width: 11.25rem;
    height: 100%;
    background: gray;
    background-repeat: no-repeat;
}

#calling-area  .side-area.left {
    background-position: left;
}

#calling-area .side-area.right {
    background-position: right;
}

#calling-area .remote-video {
    flex: 1;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gradient-black {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(28, 30, 34, 0.4) 0%, rgba(28, 30, 34, 0) 33%, #1C1E22 100%);
}

.black {
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background: #1C1E22;
}

.actions {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    width: calc(100% - 2.5rem);
    overflow: visible;
}

.hang-up-btn {
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 1.875rem;
    background: #FA1155;
}

.control-btns {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#my-video {
    position: absolute;
    top: 3.125rem;
    right: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: end;
}

#my-video .video-area {
    width: 9rem;
    height: 12.625rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.5rem;
    box-shadow: 0 0 40px 0 #00000040;
}

/* 선물하기 팝업 */
#gift-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display:none;
    z-index: 90;
}

#gift-popup .popup-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18.75rem;
    background: white;
    padding: 0 1.5rem;
    border-radius: 0.75rem;
    box-shadow: 0 4px 25px 0 #00000040;
}

#gift-popup .popup-box .popup-title {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 0.75rem 0;
}

#gift-popup .popup-box .popup-title span {
    font-size: 1rem;
    color: #1C1E22;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
}

#gift-popup .popup-box .my-mileage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.75rem;
}

#gift-popup .popup-box .my-mileage span.text {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1rem;
    color: #1C1E22;
}

#gift-popup .popup-box .my-mileage .point-box {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid rgba(0, 52, 125, 0.08);
    border-radius: 1000px;
    padding: 0.25rem 0.75rem 0.25rem 0.25rem;
}

#gift-popup .popup-box .my-mileage .point-box span {
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1rem;
}

#gift-popup .popup-box .point-list {
    width: 100%;
    height: 9.375rem;
    overflow-y: scroll;
}

#gift-popup .popup-box .point-list ul li {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #898D99;
    text-align: center;
    padding: 0.75rem 0;
    border-radius: 0.75rem;
}

#gift-popup .popup-box .point-list ul li.active {
    color: #FA1155;
    background: rgba(250, 17, 85, 0.12);
}

#gift-popup .popup-box .btn-box {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 0 1.5rem 0;
}

#gift-popup .popup-box .btn-box button {
    flex: 1 1 50%;
    padding: 0.75rem 0;
    border-radius: 0.5rem;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1rem;
}

#gift-popup .popup-box .btn-box button.cancel {
    color: #FA1155;
    background: rgba(250, 17, 85, 0.08);
}

#gift-popup .popup-box .btn-box button.submit {
    color: white;
    background: #FA1155;
}

/* 통화평가 팝업 */
#review-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display:none;
    z-index: 90;
}

#review-popup .popup-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18.75rem;
    background: white;
    padding: 0 1.5rem;
    border-radius: 0.75rem;
    box-shadow: 0 4px 25px 0 #00000040;
}

#review-popup .popup-box .popup-title {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 0.75rem 0;
}

#review-popup .popup-box .popup-title span {
    font-size: 1rem;
    color: #1C1E22;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
}

#review-popup .popup-box .btn-box {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 0 1.5rem 0;
}

#review-popup .popup-box .btn-box button {
    flex: 1 1 50%;
    padding: 0.75rem 0;
    border-radius: 0.5rem;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1rem;
}

#review-popup .popup-box .btn-box button.cancel {
    color: #FA1155;
    background: rgba(250, 17, 85, 0.08);
}

#review-popup .popup-box .btn-box button.submit {
    color: white;
    background: #FA1155;
}

#review-popup .popup-box .popup-content {
    padding: 0.75rem 1.5rem;

}

#review-popup .popup-box .popup-content p {
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #898D99;
    text-align: center;
}

#review-popup .popup-box .popup-content .star-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0 0.75rem 0;
}

#review-popup .popup-box .popup-content p.review-text {
    font-weight: 600;
}