#wrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

#add {
    width: 100%;
    padding: 1.25rem;

    align-items: center;
    box-sizing: border-box;
}

.add-title {
}

.add-title .title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
}

.add-title .subtitle {
    font-size: 0.8125rem;
    color: #898d99;
    margin-top: 8px;
}

.form-group {
    margin-top: 24px;
    color: #7d8a9f;
}

.form-group .label {
    font-size: 14px;
    font-weight: 500;
    display: block;
    margin-bottom: 8px;
}

.form-group .textarea {
    width: calc(100% - 32px);
    height: 120px;
    padding: 16px;
    border: 1px solid #00347d14;
    border-radius: 12px;
    font-size: 14px;
    resize: none;
}

.form-group .textarea::placeholder {
    color: #898d99;
}

.upload-wrap {
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.upload-section {
    display: flex;
    flex-direction: column;

    gap: 12px;
    color: #7d8a9f;
}

.upload-section .upload-label {
    font-size: 14px;
    font-weight: 500;
    margin-right: 1rem;
    color: #7d8a9f;
}

.upload-section .upload-count {
    font-size: 12px;
    color: #8e8e93;
    color: #7d8a9f;
}

.upload-icon {
    color: #c7c7cc;
    font-size: 20px;
}

.setting-btn {
    width: 100%;
    height: 48px;
    margin-top: 32px;
    padding: 12px 0;
    border: 1px solid #4D67EB;
    border-radius: 12px;
    background-color: white;
    font-size: 14px;
    font-weight: 500;
    color: #4b48ff;
    cursor: pointer;
}

.submit-btn {
    width: calc(100% - 28px);
    padding: 14px 0;
    border-radius: 12px;
    background-color: #e0e0e0;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: not-allowed;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 5px 10px 0px #1a1a1a1a;
}

#add .button-area {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.5rem 1.25rem 1.25rem 1.25rem;
    border-radius: 1.25rem 1.25rem 0 0;
    border-top: 1px solid #F7F7F7;
    background: white;
    box-shadow: 0 -5px 20px 0 #00000005;
}

#add .button-area button {
    width: 100%;
    padding: 0.875rem 0;
    border-radius: 0.75rem;
    color: white;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.25rem;
    background: #E1E1E1;
    box-shadow: 0 5px 10px 0 #1A1A1A1A;
}

#add .button-area button.submit {
    background: #FA1155;
    box-shadow: none;
}