#wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

#title {
    padding: 0.5rem 1.25rem 0 1.25rem;
    margin-bottom: 1.25rem;
}

#title h1 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
    color: #1C1E22;
    margin-bottom: 0.5rem;
}

#title p {
    font-size: 0.8125rem;
    font-weight: 300;
    line-height: 1.25rem;
    color: #898D99;
}

#form-wrap {
    padding: 0 1.25rem 4rem 1.25rem;
}

.photo-title {
    font-size: 0.8125rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: #7D8A9F;
}

.photo-text {
    font-size: 0.6875rem;
    font-weight: 300;
    line-height: 1rem;
    color: #7D8A9F;
}

ul.photo-list {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

ul.photo-list li {
    width: 3.25rem;
    height: 3.25rem;
    border-radius: 0.25rem;
    background: #F7F7F7;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.photo-list li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

ul.photo-list li:first-child img {
    width: 1.5rem;
    height: 1.5rem;
}

ul.check-list li {
    padding: 0.75rem 0;
    margin-bottom: 0.75rem;
    border-bottom: 1px solid rgba(0, 52, 125, 0.08);
}

ul.check-list li:last-child {
    border: none;
}

ul.check-list li span {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: #7D8A9F;
}

.input-box input {
    box-sizing: border-box;
}

#form-wrap .button-area {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.5rem 1.25rem 1.25rem 1.25rem;
    border-radius: 1.25rem 1.25rem 0 0;
    border-top: 1px solid #F7F7F7;
    background: white;
    box-shadow: 0 -5px 20px 0 #00000005;
}

#form-wrap .button-area button.submit {
    width: 100%;
    padding: 0.875rem 0;
    background: #FA1155;
    border-radius: 0.75rem;
    color: white;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.25rem;
}