#wrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

.line {
    border-bottom: 2px solid #ff0050;
    margin-bottom: 32px;
    width: 30%;
}

#influ {
    width: 100%;
    padding: 1.25rem;
    align-items: center;
    box-sizing: border-box;
}

#influ .influ-title {
    margin-bottom: 2rem;
}

#influ .influ-title .title {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.4;
}

#influ .influ-title .subtitle {
    font-size: 0.8125rem;
    color: #898d99;
    margin-top: 8px;
}

#influ .info-box {
    background: #ffffff;
    border: 1px solid #e7e7e7;
    border-radius: 12px;
    padding: 20px;
    font-size: 14px;
    color: #7d8a9f;
    line-height: 1.6;
    margin-bottom: 24px;
    font-size: 0.75rem;
}

#influ .info-box p:first-child {
    margin-bottom: 0.5rem;
}

#influ .upload .upload-title {
    font-weight: 500;
    font-size: 0.6875rem;
    margin-bottom: 12px;
    display: block;
    color: #c8c8c8;
}

#influ .upload .upload-box {
    background: #fa115505;
    border: 1px dashed #fa115533;
    border-radius: 12px;
    padding: 32px;
    text-align: center;
    margin-bottom: 24px;
}

#influ .upload .upload-box img {
    width: 52px;
    height: 52px;
    margin-bottom: 12px;
}

#influ .upload .upload-box .upload-box-text {
    font-size: 0.625rem;
    color: #646d7b;
}

#influ .notice-box .notice-text {
    font-size: 12px;
    color: #999;
    margin-bottom: 16px;
    line-height: 20px;
    margin-bottom: 0.5rem;
}

#influ .notice-box .question-text {
    font-size: 0.8125rem;
    color: #ff0050;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}

#influ .notice-box .question-text > img {
    width: 0.75rem;
    height: 0.75rem;
    margin-left: 0.5rem;
    transform: rotate(180deg);
}

#influ .submit-button {
    position: absolute;
    bottom: 1rem;
    width: calc(100% - 2rem);
    background-color: #ff0050;
    color: white;
    font-size: 0.875rem;
    font-weight: 700;
    padding: 1rem 0;
    border-radius: 0.75rem;
    border: none;
    cursor: pointer;
}

#influ .button-area {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.5rem 1.25rem 1.25rem 1.25rem;
    border-radius: 1.25rem 1.25rem 0 0;
    border-top: 1px solid #F7F7F7;
    background: white;
    box-shadow: 0 -5px 20px 0 #00000005;
}

#influ .button-area button.submit {
    width: 100%;
    padding: 0.875rem 0;
    background: #FA1155;
    border-radius: 0.75rem;
    color: white;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.25rem;
}
