#wrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

#notices li {
    width: 100%;
    padding: 1rem 1.25rem;
    border-bottom: 1px solid rgba(0, 52, 125, 0.08);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#notices li.unread {
    background: rgba(77, 103, 235, 0.04);
}

#notices li .img-box {
    width: 3rem;
    height: 3rem;
    border-radius: 30px;
    overflow: hidden;
}

#notices li .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#notices li .note-cnt {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 0.75rem;
}

#notices li .note-cnt p {
    font-weight: 300;
    line-height: 1.125rem;
    color: #2E3C52;
    width: 17.375rem;
}

#notices li .note-cnt p b {
    font-weight: 700;
}

#notices li .note-cnt span {
    line-height: 1rem;
    font-weight: 400;
    color: #7D8A9F;
}