#wrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

#header {
    position: relative;
}

#header .h-title {
    font-size: 1rem;
    font-weight: 700;
}

.item-summary {
    display: flex;
    justify-content: center;
    background: #fffffff5;
    box-shadow: 0px 2px 12px 0px #0000000a;
    padding: 16px 20px;
    border-radius: 16px;
}

.sum-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 16px;
}

.sum-item .item-img-wrap {
    width: 100%;
    max-width: 36px;
    height: 100%;
    max-height: 36px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 8px;
    background-color: #00347d14;
}

.sum-item .item-img-wrap img {
    width: 100%;
    max-width: 28px;
    height: 100%;
    max-height: 28px;
}

.sum-item .count {
}

.item-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.item-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
    border-bottom: 1px solid #eee;
}

.item-info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.name {
    font-size: 15px;
    margin: 0;
}

.price {
    margin: 3px 0 0 0;
    color: #ff3366;
    font-weight: bold;
}

.buy-btn {
    background: #eaeaea;
    padding: 8px 16px;
    border-radius: 12px;
    border: none;
}
