#wrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

#header {
    position: relative;
}

#header .h-title {
    font-size: 1rem;
    font-weight: 700;
}

#content .items-count {
    padding: 1.25rem;
    margin-bottom: 1.25rem;
}

#content .items-count .items-box {
    padding: 1rem 1.25rem;
    background: white;
    box-shadow: 0 2px 12px 0 #0000000A;
}

#content .items-count .items-box ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

#content .items-count .items-box ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content .items-count .items-box ul li .img-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 1rem;
    background: rgba(0, 52, 125, 0.08);
    margin-bottom: 0.5rem;
}

#content .items-count .items-box ul li span {
    font-size: 0.625rem;
    font-weight: 600;
    line-height: 0.75rem;
    color: #7D8A9F;
    text-align: center;
}

#content .items-count .items-box ul li span.count {
    color: #FA1155;
}

#content .items-list ul li {
    padding: 0.75rem 1.25rem;
    border-bottom: 1px solid rgba(0, 52, 125, 0.08);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#content .items-list ul li .img-box {
    width: 3.25rem;
    height: 3.25rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 52, 125, 0.08);
}

#content .items-list ul li .img-box div {
    width: 2.75rem;
    height: 2.25rem;
    overflow: hidden;
}

#content .items-list ul li .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#content .items-list ul li .item-info {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

#content .items-list ul li .item-info .item-name {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25rem;
    color: #1C1E22;
}

#content .items-list ul li .item-info .amount {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

#content .items-list ul li .item-info .amount img {
    width: 1rem;
    height: 1rem;
}

#content .items-list ul li .item-info .amount span {
    font-size: 0.625rem;
    font-weight: 600;
    line-height: 0.75rem;
    color: #7D8A9F;
}

#content .items-list ul li button.payment-btn {
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    background: #F7F7F7;
    font-size: 0.6875rem;
    font-weight: 600;
    line-height: 0.75rem;
    color: #898D99;
}