#wrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

#title {
    padding: 0.5rem 1.25rem 0 1.25rem;
    margin-bottom: 2.5rem;
}

#title h1 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
    color: #1C1E22;
    margin-bottom: 0.5rem;
}

#content {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content img {
    width: 13.375rem;
    height: 13.375rem;
}

#content .description {
    position: absolute;
    bottom: 5.5rem;
    left: 0;
    right: 0;
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1.125rem;
    color: #616A61;
    padding-left: 1.25rem;
}

.button-area {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.5rem 1.25rem 1.25rem 1.25rem;
    border-radius: 1.25rem 1.25rem 0 0;
    border-top: 1px solid #F7F7F7;
    background: white;
    box-shadow: 0 -5px 20px 0 #00000005;
}

.button-area button.submit {
    width: 100%;
    padding: 0.875rem 0;
    background: #FA1155;
    border-radius: 0.75rem;
    color: white;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.25rem;
}