#wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

#content {
    width: 100%;
    height: 8.75rem;
    background-color: #F7F7F7;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#content .gradient-black {
    width: 100%;
    min-height: 100%;
    background: linear-gradient(0deg, rgba(28, 30, 34, 0) 40%, #1C1E22 100%);
}

#content .control-btn {
    padding: 1rem 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#content .control-btn .close-btn {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 1.125rem;
    background: rgba(254, 254, 255, 0.2);
}

#profile {
    padding: 0 12.5rem;
    margin-top: -1.25rem;
}

#profile .profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

#profile .profile-header .profile-info {
    display: flex;
    align-items: center;
    gap: 6px;
}

#profile .profile-header .profile-info .img-outline {
    width: 5.75rem;
    height: 5.75rem;
    border-radius: 10rem;
    background: #FEFEFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -6px;
}

#profile .profile-header .profile-info .img-outline .img-box {
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    border-radius: 10rem;
    border: 2px solid #E8E8E8;
}

#profile .profile-header .profile-info .img-outline .img-box img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#profile .profile-header .profile-info .name-verif {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    margin-bottom: 0.25rem;
}

#profile .profile-header .profile-info .name-verif .name {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: #2E3C52;
}

#profile .profile-header .profile-info .name-verif img {
    width: 1.125rem;
    height: 1.125rem;
}

#profile .profile-header .profile-info .follow-post {
    font-size: 0.625rem;
    font-weight: 400;
    line-height: 0.75rem;
    color: #7D8A9F;
}

#profile .profile-header .profile-info .follow-post .follow,.post {
    font-weight: 500;
}

#profile .profile-header button.follow-btn {
    padding: 0.5rem 1.25rem;
    background: #FA1155;
    border-radius: 1.875rem;
    font-size: 0.625rem;
    font-weight: 600;
    line-height: 0.75rem;
    color: white;
}

#profile .profile-header button.follow-btn.following {
    background: #E1E1E1;
}

#profile .profile-body p.profile-intro {
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #898D99;
    margin-bottom: 6px;
}

#profile .profile-body .profile-link a {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

#profile .profile-body .profile-link a span {
    font-size: 0.625rem;
    font-weight: 500;
    line-height: 0.75rem;
    color: #4D67EB;
}

#tab-menu {
    margin: 0 12.5rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 52, 125, 0.08);
    position: relative;
}

#tab-menu .tab-box {
    flex: 1;
    padding: 0.75rem 1rem;
    text-align: center;
    color: #646D7B;
    font-size: 0.8125rem;
    line-height: 1.25rem;
    position: relative;
}

#tab-menu .tab-box.active {
    font-weight: 600;
    color: #1C1E22;
}

#tab-underline {
    position: absolute;
    bottom: 0;
    height: 2px;
    background: #1C1E22;
    left: 1.25rem;
    width: 45%;
    transition: left 0.25s ease, width 0.25s ease;
}

/*
    포스트
 */

#post {
    width: 100%;
    padding: 1.25rem 0 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#post .post-box {
    width: 375px;
    margin-bottom: 1.25rem;
}

#post .post-box:last-child {
    margin-bottom: 0;
}

#post .post-box .profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.25rem;
    margin-bottom: 0.5rem;
}

#post .post-box .profile .img-box {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.25rem;
    border: 1px solid #2E3C52;
    overflow: hidden;
}

#post .post-box .profile .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#post .post-box .profile .name-time .name {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 0.8125rem;
    font-weight: 600;
    line-height: 1.25rem;
    color: #1C1E22;
}

#post .post-box .profile .name-time .time {
    color: #898D99;
    font-size: 0.625rem;
    font-weight: 300;
    line-height: 0.75rem;
}

#post .post-box .content {
    margin-bottom: 0.75rem;
}

#post .post-box .content .text {
    font-size: 0.8125rem;
    font-weight: 400;
    color: #1C1E22;
    line-height: 1.25rem;
    padding: 0 1.25rem;
    margin-bottom: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#post .post-box .content .post-img {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

#post .post-box .content .post-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#post .post-box .status {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 1.25rem;
    gap: 0.75rem;
}

#post .post-box .status .like-box {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

#post .post-box .status span {
    color: #C8C8C8;
    font-size: 0.6875rem;
    font-weight: 400;
    line-height: 0.75rem;
}

#post .post-box .status .like-box span.active {
    color: #FA1155;
}

#post .post-box .status .comment-btn {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

#control-area {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0.5rem 1.25rem 1.25rem 1.25rem;
    background: white;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    box-sizing: border-box;
    box-shadow: 0 -5px 20px 0 #00000005;
}

#control-area .control-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0.5rem;
    gap: 0.5rem;
}

#control-area .control-btn span.btn-text {
    font-size: 0.625rem;
    font-weight: 500;
    line-height: 0.75rem;
    color: #898D99;
    text-align: center;
}

#control-area .membership-btn {
    flex: 1;
    padding: 0.875rem 0;
    background: #FA1155;
    border-radius: 0.75rem;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.25rem;
    color: white;
}

#membership {
    display: none;
}

#membership {
    width: 100%;
    padding: 1.25rem 0 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#membership .membership-box {
    width: 375px;
    margin-bottom: 1.25rem;
}

#membership .membership-box .membership-card {
    padding: 1rem;
    border-radius: 0.5rem;
    border: 2px solid rgba(0, 52, 125, 0.08);
    background: rgba(0, 52, 125, 0.08);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1.25rem;
}

#membership .membership-box .membership-card:last-child {
    margin: 0;
}

#membership .membership-box .membership-card.checked {
    border: 2px solid #FA1155;
    background: rgba(250, 17, 85, 0.02);
}

#membership .membership-box .membership-card .check-box .check input {
    display: none;
}

#membership .membership-box .membership-card .check-box .check .custom-check {
    width: 1rem;
    height: 1rem;
    margin-right: 0.75rem;
    display: block;
    background: url('../../img/icon/unchecked.svg') no-repeat center / contain;
}

#membership .membership-box .membership-card .check-box .check input:checked ~ .custom-check {
    background: url('../../img/icon/checked.svg') no-repeat center / contain;
}

#membership .membership-box .membership-card .card-content {
    width: 100%;
}

#membership .membership-box .membership-card .card-content .card-header {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(0, 52, 125, 0.08);
    margin-bottom: 0.5rem;
}

#membership .membership-box .membership-card .card-content .tags {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    margin-bottom: 0.5rem;
}

#membership .membership-box .membership-card .card-content .tags div {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.625rem;
    font-weight: 600;
    line-height: 0.75rem;
    color: white
}

#membership .membership-box .membership-card .card-content .tags div.grade {
    background: #4D67EB;
}

#membership .membership-box .membership-card .card-content .tags div.status {
    background: #2E3C52;
}

#membership .membership-box .membership-card .card-content .amount {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.25rem;
    color: #1C1E22;
}

#membership .membership-box .membership-card .card-content ul {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

#membership .membership-box .membership-card .card-content ul li {
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1.125rem;
    color: #2E3C52;
    padding-left: 1.25rem;
    position: relative;
}

#membership .membership-box .membership-card .card-content ul li:before {
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #2E3C52;
}