#wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

#search-area {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid rgba(0, 52, 125, 0.08);
    margin-bottom: 2.5rem;
}

#search-area .search-bar {
    flex: 1;
    position: relative;
}

#search-area .search-bar input {
    width: 100%;
    padding: 0.875rem 1.5rem;
    border: 1px solid rgba(0, 52, 125, 0.08);
    background: rgba(0, 52, 125, 0.08);
    border-radius: 1.875rem;
    box-sizing: border-box;
    color: #1C1E22;
}

#search-area .search-bar input::placeholder {
    color: #7D8A9F;
}

#search-area .search-bar input:focus {
    outline: none;
    border: 1px solid #FA1155;
}

#search-area .search-bar button.search-btn {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
}

#search-result ul {
    padding: 0 1.25rem;
    border-bottom: 1px solid rgba(0, 52, 125, 0.08);
}

#search-result ul li {
    padding: 0.5rem 0 0.75rem 0;
    border-bottom: 1px solid rgba(0, 52, 125, 0.08);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#search-result ul li:last-child {
    border: none;
}

#search-result ul li .profile-img {
    border: 1px solid #E1E1E1;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

#search-result ul li .profile-info .name {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

#search-result ul li .profile-info .code {
    font-size: 0.625rem;
    font-weight: 300;
    line-height: 0.75rem;
    color: #898D99;
    display: block;
    margin-top: -1.5px;
}

#search-result ul li .profile-info .name span {
    font-size: 0.8125rem;
    font-weight: 600;
    line-height: 1.25rem;
    color: #1C1E22;
}