#wrapper form .form-field {
    margin: 0.625rem 0;
}

#wrapper form label {
    color: #898D99;
    font-size: 0.6875rem;
    font-weight: 500;
    line-height: 0.75rem;
}

#wrapper form .form-field .input-box {
    margin: 0.75rem 0;
}

#wrapper form .form-field .input-box input,
#wrapper form .form-field .input-box textarea,
#wrapper form .form-field .input-box select {
    width: 100%;
    padding: 1rem 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 52, 125, 0.08);

    /* ✅ 공통 텍스트 스타일 */
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #1C1E22;

    appearance: none;
    background-size: 12px;
}

#wrapper form .form-field .input-box input::placeholder,
#wrapper form .form-field .input-box textarea::placeholder,
#wrapper form .form-field .input-box select::placeholder {
    color: #898D99; /* ✅ color만 다름 */

    /* ✅ 입력 텍스트와 동일 폰트 속성 */
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.25rem;
}

#wrapper form .form-field .input-box textarea {
    height: 3.75rem;
    font-family: "Pretendard", sans-serif;
}

#wrapper form .form-field .input-box select {
    color: #898D99;
    background: #fff url('/img/icon/icon-arrow-down-pink.svg') no-repeat right 0.75rem center;
    background-size: 12px;
}

#wrapper form .form-field .input-box input:focus,
#wrapper form .form-field .input-box textarea:focus,
#wrapper form .form-field .input-box select:focus {
    outline: none;
    border-color: #FA1155;
}

#wrapper form .form-field .input-box .send-btn {
    color: white;
    background: #7D8A9F;
    border: 1px solid rgba(0, 52, 125, 0.08);
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    font-size: 0.8125rem;
    font-weight: 600;
    line-height: 1.25rem;
    white-space: nowrap;
}

#wrapper form .form-field p {
    color: #898D99;
    font-size: 0.6875rem;
    font-weight: 400;
    line-height: 0.75rem;
}

.input-box {
    position: relative;
}

.input-box span.unit {
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #4D67EB;
}

.input-box button.add {
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
}

.input-box button.remove {
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
}