#header {
    width: 100%;
    padding: 1rem 1.25rem 0.75rem 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

#header .point-box {
    padding: 2px 10px 2px 2px;
    border: 1px solid rgba(0, 52, 125, 0.08);
    border-radius: 1000px;
    display: flex;
    align-items: center;
    gap: 0.5rem
}

#header .point-box span {
    color: #2E3C52;
    font-size: 0.6875rem;
    font-weight: 700;
    line-height: 1.25rem;
}

#header .alarm-icon img {
    width: 1.25rem;
    height: 1.25rem;
}

#header .search-icon img {
    width: 1.25rem;
    height: 1.25rem;
}

#header h1 {
    color: #1C1E22;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
}

#header span {
    font-size: 0.8125rem;
    font-weight: 600;
    line-height: 0.75rem;
    color: #1C1E22;
}