/* 모달 스타일 */
.backdrop {
    position: fixed;
    top:0; left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.6);
    display:none;
    z-index: 90;
}

/* 모달 */
.bottom-modal {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0 20px;
    width: 100%;
    background: #fff;
    border-radius: 20px 20px 0 0;
    transform: translateY(100%);
    transition: transform .25s ease;
    z-index: 99;
    box-sizing: border-box;
}

.bottom-modal.show {
    transform: translateY(0);
}

.bottom-modal .handle {
    width: 100%;
    touch-action: none;
    padding: 12px 0;
    display: flex;
    justify-content: center;
}

.bottom-modal .handle .handle-bar {
    width: 60px;
    height: 4px;
    background: #E8E8E8;
    border-radius: 100px;
}

.bottom-modal .modal-content {
    display: flex;
    flex-direction: column;
}

.bottom-modal .modal-list ul {
    list-style: none;
}

.bottom-modal .modal-list > li {
    padding: 0.75rem 0;
    font-size: 0.875rem;
    text-align: center;
    color: #2E3C52;
    border-bottom: 1px solid #F7F7F7;
}

.bottom-modal .btn-box {
    padding: 0.5rem 0;
    margin-bottom: 2.125rem;
}

.bottom-modal .modal-close {
    padding: 0.875rem 0;
    width: 100%;
    border-radius: 0.75rem;
    background: #FA1155;
    color: #fff;
    font-size: .875rem;
    font-weight: 700;
}
