html, body {
    font-family: "Pretendard", sans-serif;
}

#wrapper {
    width: 100%;
    height: 100%;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.gap-12 {
    gap: 0.75rem;
}

.gap-8 {
    gap: 0.5rem;
}

.gap-4 {
    gap: 0.25rem;
}

.mb-16 {
    margin-bottom: 1rem;
}

.mb-20 {
    margin-bottom: 1.25rem;
}

.py-8 {
    padding: 0.5rem 0;
}

.item-center {
    align-items: center;
}

.item-end {
    align-items: end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.hidden {
    display:  none !important;
}

/*
    토글
 */
.toggle {
    position: relative;
    display: inline-block;
    width: 2.25rem;
    height: 1.25rem;
}
.toggle input {
    display: none;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #E1E1E1; /* OFF 배경 */
    border-radius: 28px;
    transition: 0.3s;
}
.slider:before {
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    left: 2px;
    top: 2px;
    background: white;
    border-radius: 50%;
    transition: 0.3s;
}
/* ON 상태 */
.toggle input:checked + .slider {
    background: #ff0f57; /* ON(핑크) */
}
.toggle input:checked + .slider:before {
    transform: translateX(16px);
}
/*
   //토글
 */