html, body {
    font-family: "Pretendard", sans-serif;
}

#wrapper {
    width: 100%;
    height: 100%;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.gap-12 {
    gap: 0.75rem;
}

.gap-8 {
    gap: 0.5rem;
}

.gap-4 {
    gap: 0.25rem;
}

.mb-16 {
    margin-bottom: 1rem;
}

.mb-20 {
    margin-bottom: 1.25rem;
}

.item-center {
    align-items: center;
}

.item-end {
    align-items: end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.hidden {
    display:  none !important;
}