#tab-wrapper {
    width: 100%;
    padding: 3px 1.25rem 1rem 1.25rem;
    position: fixed;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.96);
    box-sizing: border-box;
    border: 1px solid #F7F7F7;
    border-radius: 1.25rem 1.25rem 0 0;
    backdrop-filter: blur(8px);
}

#tab-wrapper ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#tab-wrapper ul li .tab-box a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    position: relative;
}

#tab-wrapper ul li .tab-box span {
    font-size: 0.625rem;
    font-weight: 500;
    color: #C8C8C8;
    line-height: 0.75rem;
}

#tab-wrapper ul li .tab-box span.open {
    color: #FA1155;
}

#tab-wrapper ul li .tab-box .badge {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    font-size: 0.5rem;
    font-weight: 700;
    line-height: 0.5rem;
    text-align: center;
    background: #00347D;
    padding: 2.5px 4.5px;
    border-radius: 0.625rem;
}