#wrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

.setting-list ul li {
    padding: 0.75rem 1.25rem;
    border-bottom: 1px solid rgba(0, 52, 125, 0.08);
    display: flex;
    justify-content: space-between;
}
.setting-list ul li:last-child {
    border: none;
}

.setting-list ul li span {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: #1C1E22;
}

.toggle {
    position: relative;
    display: inline-block;
    width: 2.25rem;
    height: 1.25rem;
}

.toggle input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #E1E1E1; /* OFF 배경 */
    border-radius: 28px;
    transition: 0.3s;
}

.slider:before {
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    left: 2px;
    top: 2px;
    background: white;
    border-radius: 50%;
    transition: 0.3s;
}

/* ON 상태 */
.toggle input:checked + .slider {
    background: #ff0f57; /* ON(핑크) */
}

.toggle input:checked + .slider:before {
    transform: translateX(16px);
}