#wrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

#tab-menu {
    padding: 0 1.25rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 52, 125, 0.08);
    position: relative; /* underline 기준 */
}

#tab-menu .tab-box {
    flex: 1;
    padding: 0.75rem 1rem;
    text-align: center;
    color: #646D7B;
    font-size: 0.8125rem;
    line-height: 1.25rem;
    position: relative;
}

#tab-menu .tab-box.active {
    font-weight: 600;
    color: #1C1E22;
}

#tab-underline {
    position: absolute;
    bottom: 0;
    height: 2px;
    background: #1C1E22;
    /* 처음엔 첫 번째 탭 아래에 맞춰 놓기 위해 대충 초기값 */
    left: 1.25rem;
    width: 50%;
    transition: left 0.25s ease, width 0.25s ease;
}

.follow-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1.25rem;
    border-bottom: 1px solid rgba(0, 52, 125, 0.08);
}

.follow-list li:last-child {
    border: none;
}

.follow-list li .follow-profile {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.follow-list li .follow-profile .profile-img {
    width: 3.5rem;
    height: 3.5rem;
    overflow: hidden;
    border: 1px solid #F7F7F7;
    border-radius: 1.875rem;
}

.follow-list li .follow-profile .profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.follow-list li .follow-profile .profile-info {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.follow-list li .follow-profile .profile-info .nick-name {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: #1C1E22;
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.follow-list li .follow-profile .profile-info .nick-name img {
    width: 1rem;
    height: 1rem;
}

.follow-list li .follow-profile .profile-info .nick-name .rank {
    padding: 0.25rem 0.625rem;
    font-size: 0.625rem;
    font-weight: 500;
    line-height: 0.75rem;
    border-radius: 1000px;
}

.follow-list li .follow-profile .profile-info .nick-name .rank.normal {
    border: 1px solid #C8C8C8;
    color: #898D99;
    background: #F1F1F1;
}

.follow-list li .follow-profile .profile-info .nick-name .rank.lover {
    color: white;
    background: #4D67EB;
}

.follow-list li .follow-profile .profile-info .nick-name .rank.vip {
    color: white;
    background: #FA1155;
}

.follow-list li .follow-profile .profile-info .name {
    font-size: 0.625rem;
    font-weight: 400;
    line-height: 0.75rem;
    color: #7D8A9F;
}

.follow-list li button.cancel-btn {
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    background: #2E3C52;
    font-size: 0.6875rem;
    font-weight: 600;
    line-height: 0.75rem;
    color: white;
}