#wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* 문의 내용 없음 */
#empty {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#empty .button-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#empty .button-area p {
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #898D99;
    text-align: center;
}

#empty .button-area button {
    padding: 0.75rem 2.5rem;
    border-radius: 1.125rem;
    background: #2E3C52;
    color: white;
    box-shadow: 0 5px 10px 0 #1A1A1A1A;
    font-size: 0.6875rem;
    font-weight: 700;
    line-height: 0.75rem;
}

/* 문의 리스트 */

#list {
    margin-top: 0.5rem;
    padding: 0 1.25rem;
}

#list .qna-list ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#list .qna-list ul li {
    padding: 0.75rem 0;
    border-bottom: 1px solid rgba(0, 52, 125, 0.08);
}

#list .qna-list ul li .qna-state {
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.6875rem;
    font-weight: 700;
    line-height: 0.75rem;
    display: inline-block;
    margin-bottom: 0.5rem;
}

#list .qna-list ul li .qna-state.wait {
    background: rgba(250, 17, 85, 0.08);
    color: #FA1155;
}

#list .qna-list ul li .qna-state.answered {
    background: #4D67EB;
    color: white;
}

#list .qna-list ul li .qna-title {
    width: 18.875rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: #1C1E22;
    margin-bottom: 1rem;
}

#list .qna-list ul li .qna-info {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    line-height: 1rem;
    gap: 0.25rem;
}

#list .qna-list ul li .qna-info .qna-type {
    font-weight: 500;
    color: #7D8A9F;
}

#list .qna-list ul li .qna-info .dot {
    font-weight: 400;
    color: #C8C8C8;
}

#list .qna-list ul li .qna-info .qna-time {
    font-weight: 300;
    color: #7D8A9F;
}