#wrapper {
    background: url("../../img/intro/intro-back.jpg") no-repeat center center;
    background-size: cover;
}

.gradient-pink {
    width: 100%;
    height: 100%;
    opacity: 90%;
    background: linear-gradient(135deg, #FA1195 0%, #FA116E 23.27%, #E30E4C 100%);
}

.gradient-black {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 15.1%, rgba(0, 0, 0, 0.01) 100%);
}

.back-black {
    width: 100%;
    height: 100%;
    background-blend-mode: darken;
    background: #1112141F;
}

.back-black img {
    width: 13rem;
    margin-top: 17.5rem;
}