#wrapper {
    width: 100%;
    height: 100vh;
}

#wrapper .back {
    padding: 1.125rem 0 1.125rem 1rem;
}

#wrapper #container {
    overflow: hidden;
    position: relative;
    height: calc(100vh - 60px);
}

#wrapper .step .header .title {
    padding: 0.5rem 1.25rem 1.875rem 1.25rem;
}

#wrapper .step .header .title h1 {
    color: #1C1E22;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.25rem;
    margin-bottom: 0.5rem;
}

#wrapper .step .header .title p {
    color: #7D8A9F;
    font-size: 0.8125rem;
    font-weight: 300;
    line-height: 1.25rem;
}

#wrapper .step .content .inner {
    padding: 0 1.25rem;
    position: relative;
}

.verify-btn {
    width: 100%;
    color: white;
    font-size: 0.8125rem;
    line-height: 0.75rem;
    font-weight: 600;
    background: #2E3C52;
    padding: 1rem 0;
    border-radius: 0.5rem;
}

.button-box {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    border: 1px solid #F7F7F7;
    box-shadow: 0 -5px 1.25rem 0 rgba(0, 0, 0, 0.02);
    border-radius: 1.25rem 1.25rem 0 0;
    padding: 0.5rem 1.25rem 1.25rem 1.25rem;
    box-sizing: border-box;
}

.next-btn {
    width: 100%;
    color: white;
    font-size: 0.875rem;
    line-height: 0.75rem;
    font-weight: 700;
    background: #FA1155;
    padding: 0.875rem 0;
    border-radius: 0.75rem;
    box-shadow: 0 5px 10px 0 rgba(26, 26, 26, 0.1);
}

/*
애니메이션
*/
.step {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    transform: translateY(100%);
    transition: transform .35s ease;
    background: white;
}

.step.active {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}